* {
    margin: 0;
    padding: 0;
}

.select_box {
    border-radius: 10px;
    border: solid 1px #dadada;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.value {
    margin-right: auto;
}

.close {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close:hover {
    background-color: #f0f0f0;
}

.element {
    display: flex;
    padding: 5px;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.element:hover {
    background-color: #f0f0f0;
}

.dropdown {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    border: solid 1px #dadada;
    border-radius: 10px;
    padding: 5px;
    max-height: 300px;
    overflow-y: auto;
    background-color: white;
}

.search_border {
    position: sticky;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
}
.search {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: solid 1px #dadada;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}